<p style="color: green">
  <%= notice %>
</p>

<h1 class="text-center text-muted">
  Comments
</h1>

<% @comments.each do |comment| %>
  <div class="card shadow my-5 p-5">
    <%= render comment %>
    <p><%= link_to "Show this comment", comment, class: 'btn btn-sm btn-outline-primary' %></p>
  </div>
<% end %>

<%= link_to "New comment", new_comment_path, class: 'btn btn-sm btn-outline-success' %>
